<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head><title>ATX Brew Book</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Magra' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <div class="row">
        <%= link_to "Beers", beers_path, class: 'col s2 offset-4' %>
        <%= link_to "Styles", styles_path, class: 'col s2' %>
        <%= link_to "Breweries", breweries_path, class: 'col s2' %>

        <!-- this is not best practices!!!! -->



        <% if user_signed_in? %>
          <div class='col s2'><a href="/users/<%= current_user.id %>">Your Beers</a>
          </div>
          <%= link_to 'Log Out', destroy_user_session_path %>
        <% else %>
          <%= link_to 'Log In', "/users/sign_in" %>
        <% end %>
    </div>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">ATX Brew book is a site to help people participate in Austin Beer culture</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </body>
</html>
